@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
    margin: 0%;
    padding: 0%;
    border: 0%;
  }

body{
    font-family: 'Poppins' sans-serif;
}

.logo {
    float: left;
    font-size: 280%;
    font-family: 'Poppins' sans-serif;
    color: white;

}
/* Navigation Bar */
.menu {
    font-size: 135%;
    list-style-type: none;
    color: white
}
.menu li {
    float: right;
    margin-right: 50px;
    word-spacing: 4px;
}

.menu a {
    text-decoration: none;
    color:inherit;
}

.menu a:hover {
    color: #e6e6e6;
}

.active {
    color: #e6e6e6;
}
/*Hero Image and Cover text */
  .cover-text {
      font-size: 200%;
      font-family: 'Poppins', sans-serif;
      color: white;
      margin: auto;
      position:absolute;
  }
  .hero-outer {
      height: 600px;
      width: 100%;
      overflow: hidden;
      position: relative;
      z-index: -1;
  }

  .hero-jpg {
      width: 100vw;
  }

  .hero-image {
      height: 600px;
      width: 100%;
      animation-name: hero-zoom;
      animation-duration: 5s;
      animation-fill-mode: forwards;
  }

    @keyframes hero-zoom {
      from {
    transform: scale (1);
      }
      to {
          transform: (1.1);
      }
  }