@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap'); 

* {
    margin: 0%;
    padding: 0%;
}

body {
	text-align: center;
  font-family: poppins;
}

.active {
  color: #c1c1c1;
}

a:hover {
  color: #c1c1c1;
}


.header-style {
	width: 1170px;
	margin: 0 auto;
}

header {
	height: 100px;
	background: #262626;
	width: 100%;
}

.logo {
	width: 30%;
	float: left;
	line-height: 100px;
}

.logo a {
	text-decoration: none;
	font-size: 30px;
	font-family: poppins;
	color: #fff;
	letter-spacing: 5px;
}

nav {
	float: right;
	line-height: 100px;
}

nav a {
	text-decoration: none;
	font-family: poppins;
	letter-spacing: 4px;
	font-size: 20px;
	margin: 0 10px;
	color: #fff;
}

.banner {
	width: 100%;
	height: 500px;
	top: 100px;
	background-image: url(../images/homepage.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}

.banner h2 {
	padding-top: 11.5%;
	font-size: 75px;
	font-family: poppins;
	color: #fff;
}

.home-content {
	width: 100%;
	top: 450px;
	background: #ebebeb;
	height: 900px;
}

.home-content h2 {
	font-family: poppins;
	letter-spacing: 4px;
	padding-top: 30px;
	font-size: 40px;
	margin: 0;
}

.home-content p {
	padding: 2% 0px;
	font-family: poppins;
	line-height: 30px;
  margin-left: 33%;
  margin-right: 33%;
  text-align: justify;
}



/* footer logos */

footer {
	background: #262626;
	width: 100%;
	z-index: 10;
  	height: 150px;
}

.social-media {
	text-align: center;
}

.social-media > li {
	display: inline;
}

.social-media i {
	font-size: 200%;
	margin: 1%;
	padding: 1%;
	color: white;
}

/* Services button */

.services {
  background-color: #262626; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 7px;
  font-size: 25px;
}

.service-links {
  text-decoration: none;
  font-family: poppins;
  color: white;
}

/* Contact Page */

.phone i {
	font-size: 150%;
	padding: 1%;
}

.phone {
	font-size: 150%;
}

.contact-page {
	width: 100%;
	height: 500px;
	top: 100px;
	background-image: url(../images/Get-in-touch.jpeg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}

.contact-page h2 {
	padding-top: 11.5%;
	font-size: 65px;
	font-family: poppins;
	color: #fff;
}

.contact-content {
  height: 720px;
  
}

.contact-form {
  margin: 40px 15% 0 0;
  color: #262626;
  max-width: 800px;
  margin: auto;
  padding: 30px;
  font-family: poppins;
}

.text-input, textarea {
  background: transparent;
  color: #262626;
  width: 100%;
  height: 25px;
  margin: 5px 0 20px 0;
  border: 1px solid #262626;
  border-radius: 2px;
}

::placeholder {
color: black;
font-family: poppins;
}


.subject-area:hover, .text-input:hover, textarea:hover {
  border-color: white;
}

.subject-area {
  background: transparent;
  color: black;
  font-size: 0.9em;
  width: 100%;
  height: 25px;
  margin: 5px 0 20px 0;
  border: 1px solid #262626;
  border-radius: 2px;
  font-family: poppins;
}

.send-button {
  border-radius: 7px;
  padding: 20px 20px 20px 20px;
  text-align: center;
  background-color:#262626;
  color:white;
  display: block;
  font-family: poppins;
  font-size: 200%;
  float: left;
}

.send-button:hover {
  background-color: white;
  color: #262626;
}

label {
  float: left;
}

/* about us page */
.about-content {
	width: 100%;
	top: 450px;
	background: #ebebeb;
	height: 1900px;
}

.about-content p {
	padding: 2% 0px;
	font-family: poppins;
	line-height: 30px;
  margin-left: 33%;
  margin-right: 33%;
  text-align: justify;
}

.about-us-page {
	width: 100%;
	height: 500px;
	top: 100px;
	background-image: url(../images/about-us.jpeg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}

.about-us-page h2 {
	padding-top: 11.5%;
	font-size: 65px;
	font-family: poppins;
	color: #fff;
}

/* Testimonials */
.testimonials {
  color: #262626;
  font-size:50px;
  padding-bottom: 50px;
  padding-top: 50px;
}

.before-after {
	float: left;
	margin-left: 23%;
}

.training {
	float: left;
	clear:right;
	padding-bottom: 125px;
	padding: 75px;
}

  
.training h2 {

  text-align: justify;
  float:right;
  width:20%;
  margin-right: 28%;

}

.training h4 {
	text-align: justify;
	float:right;
	width:20%;
	margin-right: 28%;

}


/*Services page*/

.services-page {
	width: 100%;
	height: 500px;
	top: 100px;
	background-image: url(../images/service-page.jpeg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: tcenter center;
}
.services-page h2 {
	padding-top: 13.5%;
	font-size: 65px;
	font-family: poppins;
	color: #fff;
}

.services-content {
	width: 100%;
	top: 450px;
	background: #ebebeb;
	height: 1900px;
}

.services-content p {
	padding: 2% 0px;
	font-family: poppins;
	line-height: 30px;
  text-align: justify;
  float:right;
  width:20%;
  margin-right: 28%;
  clear:left;

}

.training1 h4 {
	text-align: justify;
	float:right;
	width:30%;
	margin-right: 15%;
	padding-top: 80px;

}


/* flip images */

.flip-card {
	background-color: transparent;
	width: 400px;
	height: 325px;
	perspective: 1000px; 
	margin-left: 15%;
	padding-bottom: 100px;
	padding-top: 75px;
  }
  
.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
  }
  
.flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
  }
  
.flip-card-front, .flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden; 
	backface-visibility: hidden;
  }
  
  
.flip-card-front {
	background-color: #bbb;
	color: black;
  }
  
.flip-card-back {
	background-color:#262626;
	color: white;
	transform: rotateY(180deg);
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
  }

  /*Make Responsive */
